    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' }}">
    {% elsif page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
    {% endif %}

    <meta name="author" content="{{ site.author.name | default: site.name }}">
    <meta name="robots" content="index, follow">